body{
    background: #E5E5E5;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(105.89deg, rgba(0, 0, 0, 0.37) 5.05%, rgba(0, 0, 0, 0.15) 112.97%), url("../img/header-bg.jpg") center no-repeat;
	background-size: cover;
}

.contetnt {
    height: 100vh;
/*     max-width: 1169px; */
    width: 1169px;
}

.header {
    margin-top: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    margin-right: 589px;
}

.header-nav-link {
    letter-spacing: 0.1em;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 35px;
    color: #fff;
    text-decoration: none;

}

.header-nav-link:hover {
    font-size: 17px;
}

.header-phone {
    letter-spacing: 0.1em;
    font-family: 'Anton', sans-serif;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.offer {
    margin-top: 219px;
}

.offer-title {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.offer-suptitle {
    margin-left: -3px;
    margin-top: 9px;
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.offer-btn {
    margin-top: 37px;
    width: 238px;
    height: 57px;
    font-family: 'Anton', sans-serif;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #FFFFFF;
}
.offer-btn:hover {
    background-color: #E5E5E5;
    color: #000000;
}


.about-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1169px;
    margin: 0 auto;
    justify-content: space-between;
}
.about-title {
    width: 100%;
    margin-top: 120px;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: #000000;
}
.about-r {
    width: 564px;
    height: 700px;

}
.about-l {
    width: 564px;
    height: 700px;

}
.about-suptitle {
    margin-top: 34px;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    line-height: 37px;
    text-transform: uppercase;
    color: #000000;
}

.about-text {
    margin-top: 19px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26.03px;
    text-align: justify;
    color: #000000;
}
.about-wrapper {
    margin-top: 138px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about-img3 {
    margin-top: 87px;
}

.footer {
    margin-left: 366px;
    margin-top: 114px;
    margin-bottom: 80px;
}

.about-footer {
    margin-right: 62px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

